In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/content/diabetes.csv')
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [3]:
df.shape

(768, 9)

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
x = df.drop(['Outcome'], axis = 1)
y = df['Outcome']

### **Without using random_state**

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [10]:
x_train.head()

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
543            4       84             90  ...  39.5                     0.159   25
40             3      180             64  ...  34.0                     0.271   26
236            7      181             84  ...  35.9                     0.586   51
428            0      135             94  ...  40.6                     0.284   26
602            1      124             74  ...  27.8                     0.100   30

[5 rows x 8 columns]

### **Using random_state**

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 0)

In [14]:
x_train

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
603            7      150             78  ...  35.2                     0.692   54
118            4       97             60  ...  28.2                     0.443   22
247            0      165             90  ...  52.3                     0.427   23
157            1      109             56  ...  25.2                     0.833   23
468            8      120              0  ...  30.0                     0.183   38
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
192            7      159             66  ...  30.4                     0.383   36
629            4       94             65  ...  24.7                     0.148   21
559           11       85             74  ...  30.1                     0.300   35
684            5      136             82  ...   0.0                     0.640   69

[614 rows x 8 columns]